@charset "utf-8";
/* CSS Document */

* { box-sizing: border-box}
/* Header */
.header {
	margin: 0; 
	padding: 0; 
	clear: none;
}

.faceweb { 
	display: block;
	margin-left: 10%; 
	width: 80%; 
	height: 80%; 
	margin-bottom: 0; 
	padding-bottom: 0; 
}
.facembl {display: none; }

/* Body */

body {background-color: #e8e8e8; }

/* Image One */
.images {margin-top: 0px; padding-top: 0px; clear:none;}

.img_one {
	width: 40%;
	height: 40%;
	border-style: solid; 
	border-width: 10px 10px 10px 20px; 
	border-color: #ff5f5f; 
	float: left;
	margin-left: 10%;
	margin-top: 0px;
	padding-top: 0px;
}

/*Image Two */

.img_two {
	width: 40%;
	height: 40%;
	border-style: solid; 
	border-width: 10px 20px 10px 10px; 
	border-color: #ff5f5f; 
	float: left;
	margin-top: 0px;
	padding-top: 0px;
}

/*Image Three*/

.img_three {
	width: 40%;
	height: 40%;
	border-style: solid; 
	border-width: 10px 10px 20px 20px; 
	border-color: #ff5f5f; 
	float: left;
	margin-left: 10%;
	margin-bottom: 152px;
}

/* Image Four */

.img_four {
	width: 40%;
	height: 40%;
	border-style: solid; 
	border-width: 10px 20px 20px 10px; 
	border-color: #ff5f5f; 
	float: left;
	margin-bottom: 152px;
}

/* Footer */

footer {font-family: 'Open Sans', sans-serif;
color: #e8e8e8; background-color: #333366; position: fixed; bottom: 0; width: 100%; text-align: center; }
p.footer { margin: 0px auto;  width: 50%; }
h3 { margin: 5px 0px;}
h4 { margin: 15px 0px; }

@media only screen and (max-width: 700px) {
	.faceweb {display: none;}
	
	.facembl {width:95%; 
		height: 95%; 
		margin-left: 2.5%;	
		display: block;
		margin-bottom: 0; 
		padding-bottom: 0; 
	}
	.img_one {width: 95%; height: 95%;margin-left: 2.5%; border-width: 10px 10px 5px 10px;}
	.img_two {width: 95%; height: 95%;margin-left: 2.5%; border-width: 5px 10px 5px 10px;}
	.img_three {width: 95%; height: 95%;margin-left: 2.5%; border-width: 5px 10px 5px 10px; margin-bottom: 0;}
	.img_four {width: 95%; height: 95%;margin-left: 2.5%; border-width: 5px 10px 10px 10px; margin-bottom: 200px; }
	p.footer {width: 85%;}
	
	
	
}
